/* thanks to https://css-tricks.com/star-ratings/ */
.Rating {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  font-size: 28px;
}

.Rating.RatingReadonly{
  cursor: auto;
}

.Rating > span {
  color: grey;
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.Rating .RatingOn:before {
   color: gold;
   content: "\2605";
   left: 0; 
   padding: 1px;
   position: absolute;
}
